# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env
.Pipfile
.Pipfile.lock
/media/
/staticfiles/
.vscode/
/migrations/
venv/

# Python cache files
__pycache__/
*.pyc
*.pyo